@media(max-width: 768px) {

   * {
      margin: 0 auto;
   }

   .menu {
      display: none;
   }

   .menu__hide {
      display: block;
      margin-top: 45px;
      margin-left: 320px;
   }

   .info__p {
      display: block;
      margin: 45px 0;
   }

   .section__headline {
      width: 391px;
      height: 261px;
   }

   .section__p3 {
      margin-top: 24px;
      margin-bottom: -96px;
   }

   .btn {
      margin-bottom: 40px;
   }

   .footer-box,
   .copyright {
      display: block;
      margin-left: 0;
      text-align: center;
   }

   .footer__head {
      margin-left: 0;
   }

   .footer__text {
      margin-top: 31px;
      margin-left: 0;
   }

   .copyright {
      margin-top: 18px;
   }

   .head__link {
      margin-left: 40px;
   }
}






}